.article{
  background: #fff;
border: 2px solid black;
padding-left: 7px;
padding-right: 36px;
margin-top: 2rem;
margin-bottom:2rem;
}

.date{
  color:grey;
}

.read-more a{
  text-decoration:none;
  display:block;
  text-align:center;
  color:red;
  padding-bottom:1rem;
}
