.article{
  background: #fff;
border: 2px solid black;
padding-left: 7px;
padding-right: 36px;
margin-top: 2rem;
margin-bottom:2rem;
box-shadow: $box-shadow;

}

.date{
  color:grey;
}

.read-more a{
  text-decoration:none;
  display:block;
  text-align:center;
  color:$link-color;
  padding-bottom:1rem;
}


@media (min-width: 800px){
  .article-container{
    @include span-columns(12);
    .article{
      height:100%;
      @include span-columns(4);
      padding-right:.5rem;
      padding-left:.5rem;
      .ray{
        padding-right:6rem;
      }

      }
    }
  }
  @media (min-width:900px){
    .article{
      height:31rem;
    }
  }

  @media (min-width:1000px){
    .article{
      height:30rem;
    }
  }
