body{
  background:url("styles/assets/bg.jpg") no-repeat  fixed;
  background-size:cover;
  background-color:#626262;
  background-blend-mode:multiply;
}


.container{
  @include outer-container(80%);
}

@media (min-width:800px){
  .container{
    @include outer-container(75%);
  }
}
