.skateboards{
  display:inline-block;
  box-shadow: $box-shadow;
  border:2px solid $border-color;
  background:#fff;
  img{
    width:18%;
  }
}

@media (min-width:800px){
  .skateboards{
    @include span-columns(10 of 10);
    margin-bottom:2rem;
    display:inline-block;
    img{
      @include span-columns(1 of 10);
    }
  }
}
